<!DOCTYPE html>
<html lang="en">
                <p>{{ mars.news_p }}</p><br>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="box">
                    <h3 style="color: rgb(15, 15, 105);">Featured Mars Image </h3>
                    <img src="{{mars.ft_img}}" alt="Featured Image" width="110%">
                </div>
            </div>
      <hr>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
<hr>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{mars.image1}}" alt="1st Hemisphere">
                    <div class="card-body">
                        <h4 class="text-center">{{mars.title1}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{mars.image2}}" alt="1st Hemisphere">
                    <div class="card-body">
                        <h4 class="text-center">{{mars.title2}}</h4>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
